<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Image Analyser</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/image_analyser.css">
        <script src="https://kit.fontawesome.com/d24cd90d79.js" crossorigin="anonymous"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.min.js"></script>
    </head>

    <body>

        <div class="navbar">
            <div class="nav-bar__buttons">
                <a href="{{ url_for('logout') }}" class="button__logout">Log Out</a> <!-- 👈 new code -->
                <a href="{{ url_for('login') }}" class="button__login" >Log In</a>
            </div>
            <img src="/static/images/es_logo.png" alt="Embroidery Source">
            <h2>Image Analyser</h2>
        </div>

        <form method="post" enctype="multipart/form-data">
            <div class="container">
                <p>The image analysis application is a desktop tool designed to help users analyse images by
                    counting the number of transparent and non-transparent pixels. It provides a simple and
                    intuitive interface for users to upload an image file, perform the analysis, and view
                    the results.</p>
                <br>
                <label class="btn btn-primary image-selector">
                    <input type="file" name="file" id="fileInput" class="fileInput" accept="image/*">
                    <i class="fa fa-cloud-upload"></i> Select Image for Analysis
                </label>
                <br>
                <div id="image-content"></div>
                <br>
                <hr>
                <div id="results-container"></div>
            </div>
        </form>

        <div class="modal" id="loadingModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Analysing image</h5>
                    </div>
                    <div class="modal-body">
                        <div class="loader"></div><p>Please wait..</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="errorModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="code" class="modal-title"></h4>
                        <h5 id="message" class="modal-title"></h5>
                    </div>
                    <div class="modal-body">
                        <p id="instruction"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal('errorModal')">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/static/js/image_analyser.js"></script>

    </body>
</html>